.AddPostComment {

    .table {
        display: table;
        .row {
            display: table-row;
            > * {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}