.PleaseWait {

    display: inline-block;

    .layout {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .rotator {
            display: block;
            height: 2em;
            width: 2em;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            animation-name: spinRotator;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }

    }

    @keyframes spinRotator {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
    }
    
}

